#s-e58eec97-b3f3-437c-beda-f91edfd6e562 > #backgroundBox {
  position: absolute;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 > #alignmentBox {
  position: relative;
  max-width: 428.0px;
  max-height: 926.0px;
  width: 100%;
  height: 100%;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_1 {
  position: absolute;
  width: 331.3671875000003px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_2 {
  position: absolute;
  width: 95.80468750000023px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_2 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_4 {
  position: absolute;
  width: 95.80468750000023px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_4 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_3 {
  position: absolute;
  width: 300.3164062500015px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Input_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Input_1 input::-moz-placeholder {
  color: #82888C;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Input_1 input:-moz-placeholder {
  color: #82888C;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Input_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Input_1 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Input_1 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Input_8.checked > .backgroundLayer {
  background-image: url('../../images/c55dddb8-158d-4ef1-b181-bc9518674da8.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Input_8.unchecked > .backgroundLayer {
  background-image: url('../../images/b7726dcf-4ead-4277-bd27-20262597aa55.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 #s-Input_8 {
  position: absolute;
  width: 51.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e58eec97-b3f3-437c-beda-f91edfd6e562 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}