#s-b77d1f6c-0fc1-4519-8133-f0254eefd785 > #backgroundBox {
  position: absolute;
}
#s-b77d1f6c-0fc1-4519-8133-f0254eefd785 > #alignmentBox {
  position: relative;
  max-width: 428.0px;
  max-height: 926.0px;
  width: 100%;
  height: 100%;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b77d1f6c-0fc1-4519-8133-f0254eefd785 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}